AuthType Basic
AuthName "Authorization"
AuthUserFile ../../../domains/tracker/core/auth/.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
